[submodule "datasets/facebook_dataset/interactive-facebook-reactions"]
	path = datasets/facebook_dataset/interactive-facebook-reactions
	url = https://github.com/minimaxir/interactive-facebook-reactions.git
